
* {
  margin: 0;
  padding: 0;
}
:root {
  box-sizing: border-box;
  --grey: #a8bce8
  
}

body{
    background-color: #cbd6f2;
    text-align: center;
}

#app{
    margin: 0 auto;
    display:flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    min-width:1000px;
}

main{
    display:flex;
    gap: 20px;
    flex-shrink: 0;
    justify-items: flex-start;
    padding-left: 10px;
}
nav{
    flex-shrink: 0;
}

h1{
    margin:20px;
}
ul{
    list-style: none;
}
li{
    margin:10px;
    background-color: #3a4293;
    text-align: center;
    border-radius: 3px;
    color:white;
    padding: 10px 20px;
}
li:hover{
    transform: scale(1.1);
    
}

#navbar{
    background-color: var(--grey);
    color:black;
    border-radius: 5px;
    border:3px solid #3a4293;
    padding:10px;
    font-weight: bold;
}

#content{
    flex-shrink: 0;
    display:flex;
    gap:20px;
    flex-direction: column;

}

.taskCard{
    display:flex;
    border-radius: 5px;
    padding:10px;
    background-color: var(--grey);
    border:3px solid #3a4293;
    
    justify-content: space-between;
}
.cardLabel{
    font-weight: bold;
    
}
.descText{
    max-width:100px;
    margin-left: 0;
    margin-right: 0;  
}

.delBtn, .projBtn, .btn, #exitNewTaskBtn{
    border:2px solid #3a4293;
    padding-left: 10px;
    padding-right: 10px;
    height:40px;
    font-weight: bold;
}
.delBtn{
    margin-left:30px;
}


.projBtn, .btn, #exitNewTaskBtn{
    width:210px;
    height:40px;
    font-weight: bold;
    border:2px solid #3a4293;
    margin-left: auto;
    margin-right: auto;
}

.delBtn:hover, .projBtn:hover, .btn:hover, #exitNewTaskBtn:hover{
    transform: scale(1.1);
}

.cardLine{
    margin-left: 20px;
    margin-right: 20px;
    width:100px
}

#newCardTask input{
    width: 210px;
    height:30px;
    font-size:15px;
    padding-left:5px;
}

#newCardTask textarea{
    width: 210px;
    height:50px;
    font-size:15px;
    padding-left:5px;
    padding-top: 3px;
}

#newCardTask{
    display:flex;
    flex-direction: column;
    text-align: left;
    align-items: center;
    padding-top:20px;
    padding-bottom:20px;
}

#exitNewTaskBtn{
    order:2;
}
#projOverviewCard{
    display:flex;
    flex-direction: column;
    padding:20px;
}
.projOverviewLineClass{
    display: flex;
    height:auto;
    justify-content: center;
    align-items: center;
    margin: 0px;
    background-color: #3a4293;
    border-radius: 3px;
    color:white;
    padding: 10px 10px;
    gap:20px;

}
.projOverviewLineClass:hover{
    transform: scale(1.1);
}


.existingProjectLine{
    text-align: center;
    width:180px;
    height:auto;
    padding: 10px 10px;
    margin-bottom: 10px;
    font-weight: bold;
    background-color: #3a4293;
    border-radius: 3px;
    color: white;
}
.existingProjectLine:hover{
    transform: scale(1.1);
}
